.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 410px;
  margin: 0 auto;
}

.profile__header {
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  color: #ffffff;
  text-align: center;
  margin: 74px 0 123px 0;
}

.profile__form {
  max-width: 410px;
}

.profile__fieldset {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile__fieldset:not(:last-of-type) {
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}

.profile__fieldset:last-of-type {
  padding-top: 17px;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: normal;
  color: #ffffff;
  display: block;
}

.profile__input {
  font-weight: 400;
  font-size: 11px;
  line-height: normal;
  text-overflow: ellipsis;
  outline: none;
  white-space: nowrap;
  border: none;
  color: #ffffff;
  background-color: transparent;
  text-align: right;
}

.profile__input-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: block;
  max-width: 396px;
  font-family: inherit;
  font-style: normal;
  color: #ee3465;
  margin: 4px 0 2px 0;
  padding: 0;
  opacity: 0;
}

.profile__input-error_active {
  opacity: 1;
}

.profile__register {
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  color: #ffffff;
  background-color: inherit;
  text-align: center;
  border: none;
  padding: 0;
  margin-bottom: 16px;
  cursor: pointer;
}

.profile__exit {
  font-weight: 500;
  font-size: 13px;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  color: #ee3465;
  padding: 0 0 70px 0;
  margin: 0;
  cursor: pointer;
}

.profile__buttons-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 300px 0 16px 0;
}

.profile__success-message {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #2be080;
  text-align: center;
  height: 13px;
  padding: 0;
  margin-bottom: 16px;
  opacity: 1;
}

.profile__success-message_disabled {
  opacity: 0;
}

.profile__error-text {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #ee3465;
  height: 13px;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  opacity: 1;
}

.profile__error-text_disabled {
  opacity: 0;
}

.profile__save {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  background: #3456f3;
  border-radius: 3px;
  border: none;
  margin-bottom: 16px;
  padding: 13px 0 13px 0;
  cursor: pointer;
}

.profile__save_disabled {
  background: #f8f8f8;
  color: #c2c2c2;
  border-radius: 3px;
  border: none;
  pointer-events: none;
  cursor: not-allowed;
}

@media screen and (max-width: 769px) {
  .profile__header {
    margin: 236px 0 96px 0;
  }

  .profile__register {
    margin: 190px 0 16px 0;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    max-width: 260px;
    height: 100vh;
  }

  .profile__header {
    margin: 70px 0 80px 0;
  }

  .profile__register {
    margin: 357px 0 16px 0;
  }

  .profile__exit {
    padding: 0 0 43px 0;
  }
}

