.footer {
  display: flex;
  flex-direction: column;
  padding: 79px 70px 0 70px;
}

.footer__text {
  font-size: 13px;
  line-height: normal;
  text-align: center;
  color:#8B8B8B;
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #FFFFFF;
  line-height: normal;
  border-top: 1px solid #424242;
}

.footer__copyright {
  padding: 20px 0;
}

.footer__links {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer__link:not(:last-child) {
  margin-right: 20px;
}

.footer__link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .footer {
    padding: 80px 30px 0 30px;
  }
}

@media (max-width: 550px) {
  .footer {
    padding: 78px 10px 0 10px;
  }

  .footer__text {
    font-size: 12px;
    line-height: 125%;
    margin-bottom: 21px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__links {
    flex-direction: column;
    margin-top: 30px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 125%;
  }

  .footer__link:not(:last-child) {
    margin: 0 0 13px 0;
  }

  .footer__copyright {
    text-align: center;
    font-size: 12px;
    line-height: 125%;
    padding: 30px 0 20px 0;
  }
}
