.about-me {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 70px 100px 70px;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.about-me__name {
  max-width: 600px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  padding-bottom: 18px;
}

.about-me__information {
  max-width: 600px;
  margin: 0;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
}

.about-me__story {
  max-width: 600px;
  margin: 0;
  padding-bottom: 99px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
}

.about-me__link {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
}

.about-me__link:hover {
  opacity: 0.7;
  transition: 0.2s;
}

.about-me__photo {
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 870px) {
  .about-me__text {
    max-width: 364px;
  }
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 70px 50px;
  }

  .about-me__container {
    align-items: center;
    padding-top: 62px;
  }

  .about-me__text {
    max-width: 362px;
  }

  .about-me__photo {
    max-width: 292px;
    max-height: 352px;
  }

  .about-me__name {
    padding: 40px 0 20px 0;
    font-size: 30px;
    line-height: 37px;
  }

  .about-me__information {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__story {
    padding-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }

  @media screen and (max-width: 550px) {
    .about-me__container {
      flex-direction: column-reverse;
    }

    .about-me {
      padding: 70px 20px;
    }
  }
}
